.main-form {
  width: 100%;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 8px;
  margin: 15px 0px 15px 0px;
  padding: 60px 12px 12px 12px;
  max-width: 50vw;
  // background-color: aliceblue;
}
.input-send {
  width: 100%;
}
.select-currency.ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  background: #d1cfcf;
}
.title-form {
  font-size: 35px;
  font-weight: 500;
  margin: 0;
}
@media screen and (min-width: 900px) {
  .main-form {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 8px;
    margin: 15px 0px 15px 0px;
    padding: 60px 12px 12px 12px;
    max-width: 50vw;
    // background-color: aliceblue;
  }
}
